.button-container {
    align-items: center;
    justify-content: center;
    display: flex;
}

.button {
    display: block;
    width: 180px;
    background-color: #1d9bf0;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 10px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: bold;
}

.button:hover {
    background-color: #1d9bf0ee;
}