.tweet-icon-container {
  position: absolute;
  display: flex;
}

.tweet-icon-wrapper {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.tweet-icon-list {
  float: left;
  padding-left: 20px;
  padding-top: 40px;
  margin-right: 50px;
}

.bi-chat:hover,
.bi-upload:hover,
.bi-bar-chart:hover {
  border-radius: 50px;
  color: rgb(29, 155, 240);
  background-color: #0d1720;
}

.bi-arrow-repeat:hover {
  color: #00ba7c;
}

.bi-heart:hover {
  color: #f6187f;
}

.color {
  color: #f6187f;
}
