body.active-modal {
    overflow-y: hidden;
  }
  
  .btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
  }
  
  .modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
  }
  
  .overlay {
    background: rgba(49,49,49,0.8);
  }
  .modal-content {
    text-align: left;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: black;
    padding: 14px 28px;
    border-radius: 20px;
    width: 410px;
    height: 300px;
  }
  
  .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
  }
  
  .reply-modal {
    font-size: small;
    margin-top: -35px;
    padding-left: 85px;
    color: #6f767d;
  }
  
  .reply-modal-handle {
    font-size: small;
    font-weight: bold;
    color: rgb(29, 155, 240);
    margin-left: -2px;
  }
  
  .flex {
    padding-top: 10px;
    display: flex;
  }
  
  .reply-tweet-modal {
    margin-top: 30px;
    font-size: 20px;
    height: 30px;
    width: 200px;
    color: white;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: black;
  }
  
  .reply-tweet-modal:focus {
    outline: none;

  }